.card {
	display: inline-block;
	width: 42px;
	cursor: pointer;
	position: relative;
	filter: drop-shadow(16px 16px 8px black);
	top: 0;
	transition-property: top, filter;
	transition-duration: 0.1s;
}

.card:hover:not(.disabled) {
	top: -32px;
	filter: drop-shadow(0px 16px 8px black);
}

.disabled {
	cursor: not-allowed;
	filter: drop-shadow(4px 4px 4px black);
}

.grayedOut {
	filter: brightness(0.55) drop-shadow(4px 4px 4px black);
}

.image {
	width: 128px;
}
