.player {
	width: 300px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.playerName {
	font-size: 18x;
	font-weight: bold;
}

.playerLabel {
	text-align: center;
	margin-top: 10px;
}

.playerActions {
	text-align: center;
}

.playerActions button {
	width: 75px;
	height: 36px;
	margin: 10px;
}

.suitButtons button {
	width: 100px;
	margin: 0;
}

.dealerIcon {
	height: 30px;
	top: 7px;
	position: relative;
}

.trickList {
	display: flex;
	flex-direction: column;
}

.trickList div {
	margin-bottom: 10px;
}

.playerContainer {
	display: flex;
}

.tricksOnLeft {
	flex-direction: row-reverse;
}

.tricksOnLeft .trickList {
	margin-right: 10px;
}
